.chatbot-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  /* background-color: #00274d; Olympic-themed dark blue */
  background: linear-gradient(135deg, #e74c3c, #f39c12);
  box-shadow: 0 5px 15px rgba(243, 156, 18, 0.7);
  border-radius: 50%;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.chatbot-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.chatbot-icon img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  filter: invert(100%);
}

.chatbot-icon-tooltip {
  position: absolute;
  bottom: 70px;
  right: 0;
  background-color: #ffffff;
  color: #00274d;
  padding: 5px 10px;
  font-size: 0.9rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.chatbot-icon:hover .chatbot-icon-tooltip {
  opacity: 1;
  transform: translateY(0);
}
